.div-start {
    background-color: nth($colores, 3);
    margin: auto;
    color: nth($colores, 5);
    font-size: nth($fontsize, 3);
    font-family: 'Bitter', serif;
    text-align: center;
   @include display-flex;

    .img-one {
        width: 85px;
        height: auto;
    }
}

.div-title {
  @include caracteristicas-titulo;
}



.carousel-section {
    .carousel-dimension {
       @include dimension;
    }
}

.div-fn {
    background-color: nth($colores, 1);
    opacity: 0.4;
    margin: auto;
    color: nth($colores, 6);
    font-size: nth($fontsize, 3);
    font-family: 'Bitter', serif;
    text-align: center;
   @include display-flex;

    .img-one {
        width: 85px;
        height: auto;
    }

    .title-fn {
       @include transformacion;
    }
}
